body {
  background-color: white;
}
.logo-container > img {
  width: 135px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 2rem;
}
.header-item-container {
  margin-right: 5rem;
}
.header-item-container > ul {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
.header-item-container > ul > li {
  list-style-type: none;
  font-size: 22px;
  font-family: monospace;
  font-weight: bold;
  color: #3d405b;
  cursor: pointer;
}
.card-layout {
  width: 260px;
  height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transition-duration: 250ms;
  font-family: sans-serif;
  background-color: #faf9f9;
}
.card-layout:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.card-layout > img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.card-container {
  padding: 0 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.Main-Body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Card-text-area {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #434649;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 40px;
  line-height: 27px;
  min-width: 80px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  font-weight: bold;
}

button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #26272a;
}
.Search_Container {
  display: flex;
  gap: 1rem;
}
.Search_Container input {
  border-radius: 0.5rem;
}
.header-item-container>ul{
  display: flex;
  justify-content: center;
  align-items: center;
}